@font-face {
  font-family: 'icons';
  src:
    url('/fonts/icons.ttf?bq1pda') format('truetype'),
    url('/fonts/icons.woff?bq1pda') format('woff'),
    url('/fonts/icons.svg?bq1pda#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  vertical-align: top;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\f015";
}
.icon-book:before {
  content: "\f02d";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-tachometer:before {
  content: "\f0e4";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-recycle:before {
  content: "\f1b8";
}
.icon-newspaper-o:before {
  content: "\f1ea";
}
.icon-gitlab:before {
  content: "\f296";
}
.icon-handshake-o:before {
  content: "\f2b5";
}
.icon-file-code-o:before {
  content: "\f1c9";
}
