@import 'normalize';
@import 'icons';

$font: sans-serif;
$code-font: monospace;
$dark-green: #436023;
$green: #3fac71;
$white: #fff;
$grey: #ddd;
$light-grey: lighten($grey, 10%);
$dark-grey: darken($grey, 50%);
$purple: #5c21a5;
$text-color: #000;
$blue: #0c52bb;
$light-blue: desaturate(lighten($blue, 25%), 20%);
$notice-color: #fffcee;
$list-bottom-margin: 5px;
$text-bottom-margin: 20px;
$text-left-margin: 20px;
$media-wide: 'only screen and (min-width: 800px)';
$media-narrow: 'only screen and (max-width: 800px)';

html {
  font-family: $font;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .8rem;
}

h6 {
  font-size: .7rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 $text-bottom-margin 0;
}

p {
  margin: 0 0 $text-bottom-margin 0;
}

ul,
ol {
  margin-bottom: $text-bottom-margin;
  padding-left: 0;

  ul,
  ol {
    margin: $list-bottom-margin 0 0 $text-left-margin;
  }
}

ul li {
  list-style: disc outside;
  margin-bottom: $list-bottom-margin;
  margin-left: 1rem;
}

ol li {
  list-style: decimal outside;
  margin-bottom: $list-bottom-margin;
  margin-left: 1rem;
}

blockquote {
  font-style: italic;
  margin: 0 $text-left-margin;
}

pre {
  font-family: $code-font;
  font-size: .8rem;
  line-height: 1.3;
  margin: 0 0 $text-bottom-margin $text-left-margin;
  overflow-x: auto;
  white-space: pre-wrap;
}

p code,
li code,
td code {
  background: $light-grey;
  border: 1px solid $grey;
  font-family: $code-font;
  font-size: .8rem;
  padding: 0 5px;
}

a {
  color: $blue;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

table {
  border-spacing: 0;
  margin-bottom: $text-bottom-margin;
  text-align: left;
  width: 100%;

  td,
  th {
    border-bottom: 1px solid $grey;
    min-width: 80px;
    padding: 5px;
  }
}

.highlight {
  .k {
    font-weight: bold;
  }

  .s,
  .s1,
  .s2 {
    color: $dark-green;
  }

  .mf,
  .mh,
  .mi,
  .mo,
  .il {
    color: $blue;
  }

  .c,
  .cp,
  .cm,
  .cs,
  .c1 {
    color: lighten($text-color, 40%);
  }

  .vi {
    color: $purple;
  }
}

.grid {
  display: grid;
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}

// Bar at the top, containing the logo and navigation menu.
.top {
  border-bottom: 1px solid $grey;

  header {
    align-items: center;
    grid-template-columns: 1fr 1fr;

    @media #{$media-wide} {
      grid-template-columns: 1fr 3fr;
    }
  }

  .grid {
    grid-gap: 0;
  }
}

// Logo displayed at the top left of the website.
.logo {
  font-size: 3rem;
  line-height: 60px;
  margin: 5px 0;

  img {
    display: inline;
    float: left;
    margin-right: 5px;
  }
}

// The main navigation menu.
.expand-menu {
  @media #{$media-wide} {
    display: none;
  }

  a {
    color: darken($grey, 50%);
    float: right;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
  }
}

.main-menu {
  display: none;
  grid-column: 1 / -1;

  @media #{$media-wide} {
    display: block;
    float: right;
    grid-column: 2;
  }
}

.main-menu ul {
  margin: 0;
  padding: 0;

  @media #{$media-wide} {
    float: right;
  }

  li {
    list-style: none;
    margin: 0;

    @media #{$media-wide} {
      display: inline-block;
    }

    &:last-child a {
      padding-right: 0;
    }
  }

  a {
    color: $text-color;
    display: block;
    font-weight: normal;
    padding: 10px;
    text-decoration: none;

    &:hover {
      color: $blue;
    }
  }

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

.notice {
  background: $notice-color;
  border-bottom: 1px solid $grey;

  p {
    font-size: 12px;
    margin: 10px 0px;
  }
}

// Big block displayed on the homepage, including a short introduction to Inko
// and a list of code samples.
.jumbotron {
  background: $light-grey;
  border-bottom: 1px solid $grey;
  margin-bottom: $text-bottom-margin;
  padding: 20px 0;

  .grid {
    grid-template-columns: 1fr;

    @media #{$media-wide} {
      grid-template-columns: 2fr 2fr;
    }
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  select {
    background: linear-gradient(to top, #f6f6f6, #fff);
    border: 1px solid darken($grey, 5%);
    border-radius: 3px;
    cursor: pointer;
    font-size: .8rem;
    padding: .3rem;
  }
}

.code-examples {
  display: block;

  .example {
    display: none;

    pre {
      background: $white;
      border: 1px solid $grey;
      font-size: 12px;
      margin: $text-bottom-margin / 2 0 0;
      overflow-y: auto;
      padding: 10px;
    }

    &.visible {
      display: block;
    }
  }
}

.page {
  header {
    h1 {
      margin-top: $text-bottom-margin;
    }
  }

  article {
    grid-row: 2;

    @media #{$media-wide} {
      grid-row: 1;
    }
  }
}

.news-index {
  td,
  th {
    border: none;
  }

  .news-meta {
    width: 90px;

    @media #{$media-narrow} {
      display: none;
    }
  }
}

.news-meta {
  color: $dark-grey;
  font-size: .8rem;
  margin: 0 0 $text-bottom-margin 0;
}

.news-article h1 {
  margin-bottom: 0;
}

.missing-page {
  text-align: center;

  img {
    margin-top: 20px;
  }
}

.visible {
  display: block;
}

select {
  font-size: 1rem;
}

.button {
  background: $light-grey;
  border: 1px solid darken($grey, 5%);
  border-bottom-width: 4px;
  border-radius: 5px;
  color: $text-color;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin-right: $text-bottom-margin / 2;
  padding: .5rem .8rem;
  text-decoration: none;

  &:hover {
    background: lighten($light-grey, 5%);
    border-color: $grey;
    text-decoration: none;
  }

  &.green {
    background: $green;
    border-color: darken($green, 10%);
    color: $white;

    &:hover {
      background: lighten($green, 5%);
      border-color: darken($green, 2%);
    }
  }

  &.blue {
    background: $light-blue;
    border-color: darken($light-blue, 10%);
    color: $white;

    &:hover {
      background: lighten($light-blue, 5%);
      border-color: darken($light-blue, 2%);
    }
  }
}

.corporate-sponsors-table {
  .logo {
    min-width: 170px;
    width: 170px;
  }

  img {
    vertical-align: middle;
  }

  p:last-child {
    margin-bottom: 0;
  }

  td,
  th {
    border-bottom: none;
  }

  td {
    padding-bottom: $text-bottom-margin;
  }
}

.sponsors-table {
  .avatar {
    min-width: 30px;
    width: 30px;

    img {
      border-radius: 20px;
      vertical-align: middle;
    }
  }
}
